* {
  box-sizing:border-box;
  color: #f7f7f7;
 
}

html, .App{
  background-color: #1a202c;
}

body{
  background-color: #1a202c;
}

.navbar {
  font-family: 'Lora', serif;
  background-color: #1a202c;
  border-bottom: 1px solid #4d5d72;
}

.main-container{
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  grid-gap: 2px 2px;
}

.primary-container{
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem 2rem 2rem;
  font-family: 'Lora', serif;
}

.primary-container img{
  width: 80px;
  cursor: pointer;
}

.top-tracks img{
  width: 100px
}

.details-container{
  margin-top: 3rem;
  font-family: 'Lora', serif;
}

.details-container img{
  margin-right: 3px;
  margin-bottom: 3px;
}

.details-container span{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.details-main-img{
  position: relative;
}

.details-main-img img{
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.artist-container, .album-container{
  font-family: 'Roboto', sans-serif;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.tag-container{
  text-align: center;
  border-bottom: 1px solid #4d5d72;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #29313d;
}

.tag{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background: #55677e;
  color: #f7f7f7;
  border-radius: 1.5rem;
  padding: 5px 15px;
  margin: 4px 6px;
  display: inline-block;
  border: 1px solid #adc1dd;
  cursor: pointer;
}

.add-buttons{
  position: absolute;
  display: flex;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: initial;
}

.add-buttons span{
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10rem;
  border: solid 2px #f7f7f7;
  display: block;
  cursor: pointer;
}

.add-button i{
  background-color: initial;
  color:  #f7f7f7;
}

.details-info{
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
}

.playlist-menu{
  position: absolute;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #4a5568;
  border-radius: 1rem;
  padding: 1rem;
  border: solid 1px #f7f7f7;
}

.playlist-menu button{
  text-align: left;
  background-color: rgb(74,85,104);
  border: 0;
}

.playlist-menu button:hover{
  background-color: #25afc4;
  color: #1a202c;
}

.muted-text{
  color: #686868;
}

.muted-text-light{
  color: #888888;
}

.song-title-text{
  font-size: 1.5rem;
}

.artist-container, .album-container{
  padding: 3rem;
  background-color: #29313d;
  margin-bottom: 3rem;
  border-radius: 2rem;
  border: 1px solid #adc1dd;
}

.artist-details, .album-details{
  display: flex;
  padding-bottom: 2rem;
}

.artist-info, .album-info{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.artist-img img{
  width: 80px;
  border-radius: 50%;
}

.album-img img{
  width: 80px;
}

.login-container{
  font-family: 'Roboto', sans-serif;
  width: 60%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container a{
  color: inherit;
}

.login-container a:hover{
  color: inherit;
  text-decoration: none;
}

.artist-container .song-container img{
  margin-right: 2px;
  margin-bottom: 2px;
  width: 60px;
  cursor: pointer;
}

.track-list-container{
  max-height: 200px;
  overflow-y: scroll;
}

.track-list-container img{
  display: flex;
  flex-direction: column;
  width: 40px;
  margin-bottom: 2px;
  cursor: pointer;
}

.album-track{
  display: flex;
}

.album-track span{
  min-height: 40px;
  display: inline-flex;
  align-items: center;
}

.genre{
  background: #55677e;
  color: #f7f7f7;
  border-radius: 1.5rem;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #adc1dd;
  cursor: pointer;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand>img {
  display: inline-block;
  width: 40px;
  margin-right: 1rem;
}

.alert{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.alert span{
  color: #155724;
}